################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Tools/Tools/Debug/Tools.tlog
/Tools/Tools/Debug
/Tools/Debug
/Tools/.vs/Tools/v16
